.p-signin .container {
    display: flex;
    justify-content: center;
    background-color: #e9ecef;
    color:#003d77 ;
    border-radius: 10px;
    box-shadow: 0 0 0 0.20rem rgba(0, 61, 119, 0.1) !important;
    width: 650px;
}
.p-signin .container form{
    width: 70%;
    margin: 100px;
}
.p-signin a{
    color: brown;
}

.p-signin .btn-primary, .p-signin  .btn-primary:hover, .p-signin .btn-primary:active, .p-signin .btn-primary:visited {
    background-color: #003d77 !important;
    color: #e9ecef;
   
    
    box-shadow:  0 4px 8px 5px rgba(159, 182, 204, 0.5), 0 6px 20px 2px rgba(159, 182, 204, 0.5);;
}
.p-signin .btn-primary:hover{
    
    background-color: #d9f18a !important;
    color:  #003d77;
   
}