
.p-type label {
    color: #003d77;
    

}
.p-type .form-control{
    border: none; 
    border:solid 1px #ccc;
    border-radius: 20px;
  }


.p-type .form-control:focus {
    border-color: #d9f18a !important;
    box-shadow: 0 0 0 0.25rem rgba(217, 241, 138, 0.5) !important;

} 
