.navbar-brand > img{
    height:100px;
}
.navbar {
    background-color: #003d77;
}
.navbar-light .navbar-nav .nav-link  {
    color:#d9f18a;
    font-weight: 500;
    
}
.navbar-light .navbar-nav .nav-link:hover{
    color:white;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active, .nav-link.active {
    color:#003d77;
    background-color:white  !important;
    font-weight: 700 !important;
}